@keyframes line-appear {
    from {
        transform: translate(0%, 50%);
        opacity: 0%;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 100%;
    }
}

@keyframes line-disappear {
    from {
        display: contents;
        opacity: 100%;
    }

    to {
        opacity: 0%;
        display: none;
        transform: translate(0%, -50%);
    }
}