header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: magenta;
    border-style: solid;
    width: 100%;
    height: 250px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}

header * {
    text-align: center;
    width: 100%;
    color: white;
    font-family: GmarketSansMedium;
    font-weight: 700;
    font-size: 50px;
}

.border {
    text-shadow:
        3px 3px black,
        -3px 3px black,
        3px -3px black,
        -3px -3px black;
}

.invisible {
    opacity: 0%;
}

#account {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 250px);
    position: absolute;
    top: 250px;
    left: 0%;
    transition: opacity 1s ease-in-out;
}

.line {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-family: LINESeedKR-Bd;
    font-size: 45px;
    animation: line-appear 1s ease-in-out;
}

.line-disappear {
    transition: display 1s;
    animation: line-disappear 1s ease-in-out forwards;
}

u {
    text-decoration-style: wavy;
}

u.red {
    text-decoration-color: red;
}

u.blue {
    text-decoration-color: blue;
}